<form method="post" action="inout" id="clockForm" class="punch-border">
    <label for="employeeId" class="punch-label">Emploee ID</label>
    <input name="employeeId" id="employeeId" placeholder="Emploee ID" class="punch-text-input" required/>
    <div class="punch-button-area">
        <button type="submit" name="submitInOut" value="submitInOut" class="punch-button">Clock In/Out</button>
        <button type="submit" name="report" value="report" class="punch-button">Report</button>
    </div>
</form>
