<div class="punch-border" id="clockArea">
  <p id="clockDisclaimer">Enter ID from your emploee card and press 'Clock In/Out' to clock in or out. Press 'Report' button if you just want to see your work hours without clocking in/out.<br/><br/>If you forget to clock in/out it leads to too many work hours in report. It will look suspicios for your manager.<p>

  <%= render 'clock_form' %>
</div>