<div class="punch-border" id="reportArea">
  <p class="punch-text">Hi, <%= @employee.first_name %> <%= @employee.last_name %>. Durin last 7 days you worked: <%= @employee.seven_days_hours %>.</p>
</div>
